body {
  
  margin: 0;
  padding: 0;
}

.test-box {
  background-color: #f2f2f2;
  width: 100%;
  padding: 10px;
  font-size: 19px;
  margin: 30px auto;
  display: none; /* Sab hidden by default */
  box-sizing: border-box;
}

.test-box h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000;
}

.test-box button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  transition: 0.3s;
  -webkit-tap-highlight-color: #fff;
  outline: none;
}

.test-box button:hover {
  background-color: #009999;
  color: white;
  border: none;
}

.custom-box {
  background-color: #ff7f00;
  color: white;
  padding: 2px 18px;
  font-size: 17px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  margin: 1px auto;
  
}

.load-more-btn-container {
  text-align: center;
  margin: 20px 0;
}

#loadMoreBtn {
  background-color: #006666;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#loadMoreBtn:hover {
  background-color: #cc5200;
}
