.test-box {
  background-color: #e6ffff;
  width: 100%;  
  padding: 10px;
  margin: 40px auto;
}

.test-box h2 {
  line-height: 30px;
  text-align: left;
  margin: 0px 0 10px 0;
  font-size: 17px;
  font-weight: bold;
  color: #000000;
}

.test-box button {
  background-color: #000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 1px;
  cursor: pointer;
  font-size: 16px;
font-weight: bold;
}

.test-box button:hover {
  background-color: #ff6600;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.load-more-btn-container {
  text-align: center; 
  margin-top: 20px;
  font-size: 16px;
font-weight: bold;
}

/* Naya CSS rule: Boxes ko chhipane ke liye */
.hidden-box {
  display: none;
}
